# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/clicxorm/task-manager.clicxormedia.in/tms-production"
PassengerBaseURI "/node-build"
PassengerNodejs "/home/clicxorm/nodevenv/task-manager.clicxormedia.in/tms-production/22/bin/node"
PassengerAppType node
PassengerStartupFile node-build.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END